@import url("../../../vendor/fonts/Inter/inter.css");

.AboutProject {
  background-color: #202020;
  width: 100%;
}
.AboutProject__container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.AboutProject__heading {
  margin: 0 auto;
  width: 1140px;
  margin-top: 110px;
}
.text {
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #fff;
  padding-bottom: 23px;
  max-width: 1140px;
}
.AboutProject__block {
  display: flex;
  flex-direction: row;
  width: 1140px;
  text-align: left;
  margin: 0 auto;
}

.AboutProject__description_first_text {
  max-width: 550px;
  margin: 70px 40px 0 0;
}
.AboutProject__description_second_text {
  max-width: 550px;
  margin: 70px 0 0 0;
}

.AboutProject__text {
  margin: 0 0 26px 0;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #fff;
}
.AboutProject__paragraph {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.AboutProject__graph {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  margin-top: 110px;
}
.AboutProject__graph_first_block {
  width: 228px;
  background-color: #3ddc84;
  padding: 9px 0 9px 0;
}
.AboutProject__graph_second_block {
  width: 912px;
  color: #fff;
  background-color: #303030;
  padding: 9px 0 9px 0;
}
.AboutProject__graph-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 0;
}
.AboutProject__signature {
  text-align: center;
  margin: 14px 0 110px 0;
  color: #8b8b8b;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
@media screen and (max-width: 1279px) {
  .text {
    max-width: 1000px;
  }
  .AboutProject__graph_first_block {
    max-width: 200px;
  }
  .AboutProject__graph_second_block {
    max-width: 800px;
  }
  .AboutProject__block {
    max-width: 1000px;
  }
  .AboutProject__text {
    max-width: 400px;
  }
  .AboutProject__paragraph {
    max-width: 400px;
  }
  .AboutProject__description_first_text {
    margin-right: 140px;
  }
}
@media screen and (max-width: 1050px) {
  .text {
    max-width: 668px;
  }
  .AboutProject__block {
    max-width: 668px;
  }
  .AboutProject__graph_first_block {
    max-width: 140px;
  }
  .AboutProject__graph_second_block {
    max-width: 528px;
  }
  .AboutProject__description_first_text {
    margin-right: 30px;
  }
  .AboutProject__graph{
    margin-top: 93px;
  }
  .AboutProject__paragraph{
    font-size: 12px;
    line-height: 18px;
  }
}
@media  screen and (max-width: 767px) {
  .text {
    max-width: 560px;
  }
  .AboutProject__block {
    max-width: 560px;
  }
  .AboutProject__graph_first_block {
    max-width: 105px;
  }
  .AboutProject__graph_second_block {
    max-width: 465px;
  }
}
@media screen and (max-width: 600px) {
  .text {
    max-width: 520px;
  }
  .AboutProject__block {
    max-width: 520px;
  }
  .AboutProject__graph_first_block {
    width: 100px;
  }
  .AboutProject__graph_second_block {
    width: 420px;
  }
}
@media screen and (max-width: 550px) {
  .text {
    max-width: 284px;
  }
  .AboutProject__block {
    flex-direction: column;
    max-width: 284px;
  }
  .AboutProject__text {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .AboutProject__paragraph {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 0;
  }
  .AboutProject__description_second_text{
    margin-top: 56px;
  }
  .AboutProject__graph_first_block {
    width: 100px;
  }
  .AboutProject__graph_second_block {
    width: 184px;
  }
  .AboutProject__graph {
    margin-top: 60px;
  }
}