@import url('../../../vendor/fonts/Inter/inter.css');

.SearchForm {
    margin: 0;
    background-color: #202020;
}
.SearchForm__container {
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(170,170,170,0.2);
    margin: 0 auto;
}
.SearchForm__search {
    outline: none;
    max-width: 932px;
    max-height: 48px;
    border: 1.5px solid rgba(170,170,170,0.2);
    box-sizing: border-box;
    border-radius: 50px;
    margin: 80px 0 94px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.SearchForm__film {
    outline: none;
    border: none;
    background-color: #202020;
    margin: 15px 0 15px 22px;
    color: #8b8b8b;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
}
.SearchForm__circle {
    background-color: #4285f4;
    border-radius: 48px;
    width: 30px;
    height: 30px;
    margin: 7px 7px 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    transition: opacity .5s linear;
}
.SearchForm__circle:hover {
    opacity: 0.8;
}
.SearchFrom__block {
    margin: 95px 0 0 41px;
    display: flex;
    flex-direction: row;
}
.SearchFrom__text {
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
}
@media screen and (max-width: 1260px) {
    .SearchForm__search {
        max-width: 800px;
    }
    .SearchForm__container {
        justify-content: center;
    }
}
@media screen and (max-width: 1050px) {
    .SearchForm__search {
        max-width: 600px;
    }
}
@media screen and (max-width: 920px){
    .SearchForm__container {
        flex-direction: column;
    }
    .SearchForm__search{
        margin: 0 auto;
        margin-top: 60px;
        max-width: 700px;
    }
    .SearchFrom__block {
        margin: 0 auto;
        margin-top: 38px;
        margin-bottom: 57px;
    }
}
@media screen and (max-width: 767px) {
    .SearchForm__search {
        max-width: 600px;
    }
}
@media screen and (max-width: 630px) {
    .SearchForm__search {
        max-width: 300px;
    }
    .SearchForm__film {
        max-width: 100px;
    }
}