.burger {
  display: none;
}

#menu__toggle {
  opacity: 0;
}
.Hamburger {
  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  right: 120px;

  width: 28px;
  height: 28px;

  cursor: pointer;
  z-index: 2;
  transition: opacity 0.5s linear;
}
.Hamburger:hover {
    opacity: 0.8;
}
.Hamburger > span,
.Hamburger > span::before,
.Hamburger > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 3px;

  background-color: #fff;
}

.Hamburger > span::before {
  content: "";
  top: -8px;
}
.Hamburger > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  z-index: 1;
  width: 520px;
  height: 100%;
  margin: 0;
  padding: 130px 0 0 0;

  list-style: none;
  text-align: center;

  background-color: #202020;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

#menu__toggle:checked ~ .Hamburger > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .Hamburger > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .Hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
.Hamburger > span,
.Hamburger > span::before,
.Hamburger > span::after {
  transition-duration: 0.25s;
}
.menu__box {
  transition-duration: 0.25s;
}

@media screen and (max-width: 1260px) {
  .burger {
    display: block;
  }
}
@media screen and (max-width: 1050px) {
  .Hamburger {
    right: 30px;
  }
}
@media screen and (max-width: 630px) {
  .menu__box {
    width: 320px;
  }
}
